*{
    margin: 0;
    padding: 0;
}
body{
    background: url(https://i.pinimg.com/originals/66/a7/95/66a795cd9b15e60f4396b540e4b430a9.png);
    background-repeat: no-repeat;
    background-size: cover;
   }
img{
    width: 70px;
    height: 70px;
    margin: 1px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    }
    
    
    nav{
        display: flex;
        align-items: center;
        
    }
    
    
    ul{
        list-style: none;
        display: flex;
        
    }
    
    li{
        margin: 0 30px;
        
    }
    
    
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        
    }
    main{
        display: flex;
        align-items: center;
        margin: 0 10%;
    }
    
    button{
        align-items: center;
        
    }
    h1{
        color: white;
        text-shadow: 1px 2px 2px black, 0 0 25px rgb(236, 0, 0), 0 0 5px rgb(236, 0, 0);
        text-align: center;
    }
    
    div.galeria{
        margin: 10px 20px;
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0,0,0,0.19);
        float: left;
        width: 415px;

    }
    
    div.galeria img{
        width: 100%;
        height: auto;
       
    }

    div.galeria:hover{
        border: 1px solid rgb(0, 0, 0);
        transform: rotate(-3deg);
    }

    div.pie {
        text-align: center;
        text-shadow: 2px 2px 5px rgb(167, 0, 0);
        padding: 10px;
        background-color: blanchedalmond;
    }


    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    #primero{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 27px;
    } 
    li:hover{
        background-color: rgb(97, 97, 97);
    }