*{
    margin: 0;
    padding: 0;
}
body{
    background: url(https://i.pinimg.com/originals/66/a7/95/66a795cd9b15e60f4396b540e4b430a9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   }
img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 1px;
}
    
header{
    display: flex;
    align-items: center;
    justify-content: center;   
     background-color: rgb(0, 0, 0);
    }
    
    
    nav{
        display: flex;
        align-items: center;
        
    }
    
    
    ul{
        list-style: none;
        display: flex;
        
    }
    
    li{
        margin: 0 30px;
        
    }
    
    
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        
    }
    main{
        display: flex;
        align-items: center;
        margin: 0 10%;
    }
    
    button{
        align-items: center;
        
    }
    
    li:hover{
        background-color: rgb(97, 97, 97);
    }
    div.pie {
        text-align: center;
        text-shadow: 2px 2px 5px rgb(167, 0, 0);
        padding: 10px;
        background-color: blanchedalmond;}
    

        .seccion{
            width: 100%;
            height: 100vh;
            }
    
h1{
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 10% 0 0 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: rgb(65, 0, 0);
    opacity: 0.6;

}
h2{
    background-color: gray;
    opacity: 0.9;
}
